<div class="photo-list-container">
  <h1>Random Photo Gallery App</h1>
  <app-photo-list></app-photo-list>

  <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button>

  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Bootstrap Modal</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      Modal body
    </div>
    <div class="modal-footer">
      Modal footer
    </div>
  </ng-template>

</div>

<router-outlet></router-outlet>
