<div class="photo-container">
  <!-- Photo List -->
  <ul>
    <li *ngFor="let pic of pics">
      <button class="btn btn-lg btn-outline-primary" (click)="open(content)">
        <img [src]="pic.download_url" alt="image here" />
        <p>Author: {{ pic.author }}</p>
        <p>ID: {{ pic.id }}</p>
      </button>
    </li>
  </ul>

  <!-- Modal -->
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Image author name</h4>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      Image goes here
    </div>
  </ng-template>
</div>
