<div class="photo-container">
  <!-- Photo List -->
  <ul>
    <li *ngFor="let pic of pics">
      <button class="deleteBtn" type="button" (click)="handleDelete(pic.id)">
        <fa-icon [icon]="faTrash"></fa-icon>
      </button>
      <i class="far fa-surprise"></i>
      <button
        class="btn btn-lg btn-outline-primary"
        (click)="open(content, pic)"
      >
        <img [src]="pic.url" alt="image here" />
      </button>
      <p>Title: {{ pic.title }}</p>
    </li>
  </ul>

  <!-- Modal -->
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">
        Title: {{ selectedPic?.title }}
      </h4>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <img
        [src]="selectedPic?.url"
        alt="image here"
        style="max-height: 100%; max-width: 100%;"
      />
    </div>
  </ng-template>
</div>
