<div class="photo-container">
  <ul>
    <li>
      <button type="button">
        <img src="https://picsum.photos/200/300" alt="image here" />
        <p>Author: author name</p>
      </button>
    </li>
    <li>
      <button type="button">
        <img src="https://picsum.photos/200/300" alt="image here" />
        <p>Author: author name</p>
      </button>
    </li>
    <li>
      <button type="button">
        <img src="https://picsum.photos/200/300" alt="image here" />
        <p>Author: author name</p>
      </button>
    </li>
    <li>
      <button type="button">
        <img src="https://picsum.photos/200/300" alt="image here" />
        <p>Author: author name</p>
      </button>
    </li>
    <li>
      <button type="button">
        <img src="https://picsum.photos/200/300" alt="image here" />
        <p>Author: author name</p>
      </button>
    </li>
  </ul>
</div>
