.photo-container {
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: left;
    display: flex;
    flex-wrap: wrap;

    li {
      width: 50%;
      padding: 12px;
      text-align: center;
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      flex-direction: column;
      position: relative;

      .deleteBtn {
        position: absolute;
        right: 0;
        top: 0;
        padding: 5px 10px;
        display: none;
        background-color: #ff0000;
        color: #fff;

        &:hover {
          background: darken(#ff0000, 8%);
        }
      }

      p {
        font-size: 12px;
        margin-bottom: 0;
      }

      button {
        background: none;
        border: none;
        border-radius: 0;
        outline: none;
        color: #404041;

        img {
          max-width: 175px;
          height: auto;
          padding-bottom: 10px;
        }

        &:focus,
        &.active {
          background: none !important;
          color: inherit !important;
        }
      }

      &:hover {
        cursor: pointer;
        background: #f2f2f2;

        .deleteBtn {
          display: block;
        }
      }

      &:last-child {
        border: none;
        padding-bottom: 0;
      }
    }
  }
}

.modal-body {
  text-align: center;

  img {
    margin: 0 auto;
  }
}
